form {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    ". labelNombre labelNombre labelNombre ."
    ". inputNombre inputNombre inputNombre ."
    ". labelPassword labelPassword labelPassword ."
    ". inputPassword inputPassword inputPassword ."
    ". . submit . .";

  & > div {
    display: contents;

    & > label {
      background-color: darkslateblue;
      border-radius: 2px;
    }

    &:nth-of-type(1) {
      & > label {
        grid-area: labelNombre;
      }
      & > input {
        grid-area: inputNombre;
      }
    }

    &:nth-of-type(2) {
      & > label {
        grid-area: labelPassword;
      }
      & > input {
        grid-area: inputPassword;
      }
    }
  }

  & > button {
    grid-area: submit;
  }
}
