:root {
  --primary-color: #646cff;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-color-scheme: light) {
    --primary-color: #747bff;
    color: #213547;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 100dvw;
  min-height: 100dvh;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
  &:hover {
    color: #535bf2;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-wrap: balance;
  text-transform: capitalize;
}

h1 {
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  text-wrap: pretty;
  &::first-letter{
    text-transform: uppercase;
  }
}

ul {
  margin: 0;
  padding: 0;
  & > li {
    list-style: none;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    border-color: #646cff;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  @media (prefers-color-scheme: light) {
    background-color: #f9f9f9;
  }
}
